* {
    padding: 0;
    margin: 0;
    
}

body {
    background-color: #F7F6F3;
}


.navbar {
background: #DABCCE;
position: absolute;
height: 65px;
left: 0px;
top: 0px;
}

.navcon {
    width: 100%;
}

.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 20px;
    cursor: pointer;
  }
  
.line {
    width: 24px;
    height: 3px;
    background-color: #AD1A72;

    border-radius: 5px;
}
  


.vertical-line {
    width: 1px;
    height: 30px;
    background-color: #AD1A72; 
}
  

.name {
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
}

.searchbar-con {
position: absolute;
height: 44px;
width: 100%;
top: 117px;
}

.searchbar-con .con {
    width: 94%;
}


#btncon {
    margin-top: 200px;
}

#button {
    width: fit-content;
    height: fit-content;
}

#select-input {
    width:50%;
    height: 30px;
    border-radius: 30px;
    border: none;
}


@media (max-width: 1209px) {
    #select-input-con {
      margin-top: 10px; 
    }
    #select-input {
      width: 100%; 
    }
    .col-md-3 {
      flex: 0 0 100%; 
      max-width: 60%; 
    }
  }

#table-row {
    height: 64px;
    background-color: white;
    border-radius: 10px;
}

#link-icon {
    color: #AD1A72;
}

#link-icon:hover {
    cursor: pointer;
    color: blue ;
}